.academico {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.academico__titulo {
    font-weight: bold;
    font-size: 2rem;
    padding: 2.5rem;
}

.academico__cursos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.academico__cursos__box {
    display: flex;
    box-sizing: border-box;
    border: 0.13rem solid #483D8B;
    border-radius: 1.25rem;
    padding: 1rem;
    height: 10.875rem;
    width: 11rem;
}