.skills {
    display: flex;
    flex-direction: column;
}

.skills__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.skills__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}