.titulo {
    display: flex;
}

.titulo__div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.titulo__profile {
    display: flex;
    border-radius: 50%;

}

.titulo__bio {
    width: 751px;
    height: 122px;
    font-weight: bold;
    font-size: 52px;
}

.titulo__subsection {
    width: 751px;
    height: 52px;
    font-size: 22px;
}

.titulo__network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
    height: 19px;
    font-size: 16px;
}

.titulo__network__item {
    display: inline-block;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-bottom: 1.25rem;
}


@media and screen (max-width: 425px) {
    .titulo__profile {
        display: inline-block;
    }
}