.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo__div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo__container{
    margin: 3rem;
}

.titulo__profile {
    display: flex;
    border-radius: 50%;

}

.titulo__bio {
    font-family: Raleway;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1.5rem;
}

.titulo__subsection {
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    margin: 1.5rem;
}

.titulo__network {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding-left: 0.4rem;
}

.titulo__network__item {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 500;
}